<!DOCTYPE html>
<html>
  <head>
    <title>Buster's Best Bowling Alley</title>
  </head>
  <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>Come to Buster's for all your bowling needs! Whether it's a birthday party, 
    a get together for old friends, or a date night, Buster has got you covered.</p>
    <br>
    <h2>If we have any upcoming tournaments they'll be listed here:</h2>
    <p>currently there are no upcoming tournaments</p>
    <br>
    <br>
    <h3>Hours of Operation</h3>
    <ul>
      <li>9am-10pm M-F</li>
      <li>8am-12am Saturday</li>
      <li>12pm-9pm Sunday</li>
    </ul>
    <h3>Location:</h3>
    <p>97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>